#メタファイル
.DS_Store

#各個人の生成ログ
DerivedData/

Pods/*

#プロジェクトの構成情報を格納するファイル
!*.xcodeproj/project.pbxproj

#プロジェクトのワークスペースのデータを格納するXMLファイル
!*.xcworkspace/contents.xcworkspacedata

#cocoaPod経由のライブラリはPodsファイルは各自でinstallすること
#Pods/*
#Podfile.lock

#プロジェクトを開くたびに編集されるファイル
UserInterfaceState.xcuserstate

#各個人で生成されるファイル
*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
!*.plist
.dat.*
lifeLog/Support/R.generated.swift

Carthage/Checkouts/*
Carthage/Build/*